* {
	padding: 0;
	margin: 0;
}

@bgc: #1a1a1a;
@c: #fff;
@navHeight: 60px;

// Views
.home {
	background-color: @bgc;
	width: 100vw;
	min-height: calc(100vh - @navHeight);
}

// Components
.nav {
	width: 100vw;
	height: @navHeight;
	background-color: @bgc;
}