@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

::selection {
	color: @light;
	background-color: @dark;
}
@sizes: {
	mobile: 480px;
	tablet: 768px;
	desktop: 1024px;
}

@light: #D8D8D8;
@dark: #2A2A2A;
@hoverColor: #5f5f5f;
@hoverColorDark: #999999;
@navHeight: 120px;
@footerHeight: 310px;
@darkAlpha: #2A2A2A91;
@sidebarWidth: 250px;

// Views
.home {
	background-color: @light;
	width: 100%;
	height: 101vh;
	color: @dark;
	position: relative;
}

.panelLogin {
	background-color: @dark;
	color: @light;
	width: 100vw;
	height: calc(100vh - @navHeight);
	position: relative;
	margin-top: @navHeight;
}
.panel {
	display: grid; 
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: 1fr;
	grid-template-areas: 
	"sidebar box";
	margin-top: @navHeight;

	.sidebar { grid-area: sidebar; }

	.sidebar + div {
		grid-area: box;
		width: calc(100vw - @sidebarWidth);
	}
}

.gallery {
	margin-top: @navHeight;
	background-color: @light;
	width: 100%;
	min-height: calc(100vh - @navHeight);
	color: @dark;
	position: relative;
}


// Components
.nav {
	width: 100%;
	height: @navHeight;
	color: @dark;
	position: fixed;
	top: 0;
	z-index: 10000;
	transition: background-color .5s;
}

.footer{
	background-color: @dark;
	width: 100%;
	height: @footerHeight;
	color: @light;
	position: relative;

	@media(max-width: @sizes[desktop]) {
		height: @footerHeight - 100px;
	}
	@media(max-width: @sizes[tablet]) {
		height: @footerHeight - 140px;
	}
	@media(max-width: @sizes[mobile]) {
		height: 500px;
	}
}

.sidebar {
	width: @sidebarWidth;
	height: calc(100vh - @navHeight);
	background-color: @dark;
	position: fixed;
}

// Global
form {
	width: 60%;
	margin: auto;
	padding: 20px;

	fieldset {
		padding: 20px;

		legend {
			padding-left: 10px;
			padding-right: 10px;
			user-select: none;
			font-size: 1.2em;
			text-align: center;
		}
	}
}

.hua {
    display: inline-block;
    position: relative;

    &:after {
	    content: '';
	    position: absolute;
	    width: 100%;
	    transform: scaleX(0);
	    height: 2px;
	    bottom: -1px;
	    left: 0;
	    background-color: @light;
	    text-shadow: 2px 2px @light;
	    transform-origin: bottom right;
	    transition: transform 0.25s ease-out;
	}

	&:hover:after {
	    transform: scaleX(1);
	    transform-origin: bottom left;
	}
}

.btn() {
	text-decoration: none;
	color: @light;
	background-color: @dark;
	padding: 10px 50px;
	border-radius: 3px;
	border: none;
	user-select: none;
	cursor: pointer;

	&:hover {
		background-color: @hoverColor;
	}
}

.break {
	display: block;	
}
