@import "../global.less";

* {
	color: @light;
}
::selection {
	color: @dark;
	background-color: @light;
}

.logo {
	position: absolute;
	left: 5%;
	top: 33%;
	transform: translateY(-50%);
	width: 180px;
	user-select: none;
		@media(max-width: @sizes[desktop]) {
			width: 140px;
		}
		@media(max-width: @sizes[tablet]) {
			width: 100px;
		}
		@media(max-width: @sizes[mobile]) {
			top: 16%;
			left: 33%;
			width: 140px;
		}
}

.links {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: auto;
	width: 55%;
		@media (max-width: @sizes[mobile]) {
			flex-direction: column;
			text-align: center;
			width: 100%;
		}

	a {
		margin-top: 125px;
		transform: translateY(-54%);
		font-size: 25px;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: @hoverColor;
			transition: 0.25s color ease-in-out;
		}
		 @media (max-width: @sizes[desktop]) {
		 	margin-top: 92px;
		 	font-size: 18px;
		 }
		 @media (max-width: @sizes[tablet]) {
			 margin-top: 73px;
			 font-size: 14px;
		 }
		 @media (max-width: @sizes[mobile]) {
			 margin: auto;
			 font-size: 20px;
			 width: max-content;
		 }
	}
}

.media {
	margin-left: 84%;
	max-width: 180px;
	position: absolute;
	top: 30%;

	a {
		display: inline-block;
		width: 50px;
		height: 50px;
		background-color: #3b3b3b;
		border-radius: 4px;
		font-size: 30px;
		color: #ffffff;
		text-align: center;
		line-height: 50px;
		margin-left: 6px;
		transition:all .25s;

		&:hover{ transform:scale(1.1); -webkit-transform:scale(1.1); }
			@media(max-width: @sizes[desktop]) {
				width: 40px;
				height: 40px;
				font-size: 25px;
				line-height: 40px;
			}
			@media(max-width: @sizes[tablet]) {
				width: 30px;
				height: 30px;
				font-size: 20px;
				line-height: 30px;
			}
	}
}


hr {
	width: 95%;
	margin: auto;
	margin-top: 70px;
	background: @light;
		@media(max-width: @sizes[desktop]) {
			margin-top: 50px;
		}
		@media(max-width: @sizes[tablet]) {
			margin-top: 25px;
		}
}

.copyright {
	margin-top: 20px;
	margin-left: 79%;
	position: absolute;
		@media(max-width: @sizes[desktop]) {
			font-size: 13px;
			margin-left: 74%;
			margin-top: 15px;
		}
		@media(max-width: @sizes[tablet]) {
			font-size: 10px;
			margin-left: 72%;
			margin-top: 12px;
		}
}

.contact {
	position: absolute;
	margin-left: 3%;
	margin-top: 20px;

		p {
			display: inline-block;
			margin-left: 20px;
		}
			@media(max-width: @sizes[desktop]) {
				font-size: 13px;
				margin-top: 15px;
			}
			@media(max-width: @sizes[tablet]) {
				font-size: 10px;
				margin-top: 12px;
			}
}




