@import "../global.less";

* {
	color: @light;
}

::selection {
	color: @dark;
	background-color: @light;
}

.logo {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: @navHeight - 10px;
	user-select: none;
}

.links {
	display: flex;
	margin: auto;
	width: 35%;
	justify-content: space-around;
	flex-wrap: wrap;


	@media (max-width: @sizes[desktop]) {
		width: 50%;
	}
	@media (max-width: @sizes[tablet]) {
		height: @navHeight;
		width: 20%;
	}
	@media (max-width: @sizes[mobile]) {
		width: 10%;
	}

	a {
		margin-top: calc(@navHeight / 2);
		transform: translateY(-54%);
		font-size: 25px;
		font-weight: 400;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			color: @hoverColor;
			transition: 0.25s color ease-in-out;
		}
		
		// Nie działa
		// TODO: naprawić
		// @media (max-width: @sizes[tablet]) {
		// 	margin-top: 10px;
		// 	font-size: 15px;
			
		// 	&:first-of-type {
		// 		margin-top: 20px;
		// 	}
		// }
	}
}

@flagWidth: 45px;

.lang {
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-around;
	width: @flagWidth * 2 + 20px;

	img {
		width: @flagWidth;
		height: calc(@flagWidth / 1.7);
		padding: 5px;
		cursor: pointer;
		user-select: none;
	}
}