@import "../global.less";

main {
	width: 90vw;
	height: calc(90vh - @navHeight);
	background-color: @darkAlpha;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("https://source.unsplash.com/random/1000x1000");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		filter: brightness(0.5);
	}

	@font: 2em;

	p {
		position: absolute;
		left: 50%;
		text-align: center;
		transform: translateX(-50%);
		width: 100%;
		word-wrap: normal;
		color: @light;
	}

	p.title {
		font-size: @font * 2;
		top: 30%;

		@media (max-width: @sizes[tablet]) {
			font-size: @font * 2 - 1em;
		}

		@media (max-width: @sizes[mobile]) {
			font-size: @font * 2 - 2em;
		}
	}
	p.desc {
		font-size: @font;
		top: 48%;

		@media (max-width: @sizes[tablet]) {
			top: 50%;
			font-size: @font - 0.5em;
		}

		@media (max-width: @sizes[mobile]) {
			font-size: @font - 0.75em;
		}
	}
}

.wrapper {
	position: absolute;
	top: calc(100vh - @navHeight);
	width: 100%;

	section {
		width: 100%;
		min-height: calc(100vh - @navHeight);
		position: relative;

		&:nth-of-type(1) {

			@media (max-width: @sizes[tablet]) {
				min-height: 130vh;
			}
			.left {
				position: absolute;
				width: 40%;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 10%;
				float: left;

				@media (max-width: @sizes[tablet]) {
					width: 80%;
					top: 27%;
				}
				@media (max-width: @sizes[mobile]) {
					top: 37%;
				}

				.name {
					font-weight: 800;
					font-size: 1.3em;
					letter-spacing: 0.1em;
					line-height: 2em;
					text-transform: uppercase;

					@media (max-width: @sizes[tablet]) {
						font-size: 1em;
					}
				}
				.title {
					font-style: normal;
					font-weight: 700;
					font-size: 2em;
					margin-bottom: 40px;

					@media (max-width: @sizes[tablet]) {
						font-size: 1.8em;
					}
				}
			}
			img {
				width: 30%;
				height: 80%;
				position: absolute;
				right: 10%;
				transform: translateY(-50%);
				user-select: none;

				@media (min-width: @sizes[tablet]) {
					top: 50%;
				}

				@media (max-width: @sizes[tablet]) {
					height: 35%;
					width: 80%;
					bottom: -100px;
				}

				@media (max-width: @sizes[mobile]) {
					height: 20%;
					width: 80%;
					bottom: -50px;
				}
			}
		}

		.top {
			position: absolute;
			top: 20px;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			width: 90%;

			.title {
				font-weight: 300;
				font-size: 3em;
				white-space: nowrap;

				@media (max-width: @sizes[tablet]) {
					font-size: 2em;
				}
				@media (max-width: @sizes[mobile]) {
					font-size: 1.5em;
				}
			}
			.desc {
				font-weight: 400;
				font-size: 1.5em;
				width: 100%;

				@media (max-width: @sizes[tablet]) {
					font-size: 1em;
					white-space: unset;
				}
				@media (max-width: @sizes[mobile]) {
					font-size: 0.85em;
				}

			}
		}

		.button {
			text-decoration: none;
			color: @light;
			background-color: @dark;
			padding: 10px 50px;
			border-radius: 3px;
			position: absolute;
			left: 50%;
			bottom: -70px;
			transform: translateX(-50%);
			z-index: 100;
			user-select: none;
			white-space: nowrap;

			&:hover {
				background-color: @hoverColor;
			}
		}

		&:nth-of-type(2) {
			.imgs {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 50px;
				margin: auto;
				margin-bottom: 100px;
				padding-top: 150px;
				width: 80%;

				@media (max-width: @sizes[tablet]) {
					grid-template-columns: repeat(2, 1fr);
				}

				@media (max-width: @sizes[mobile]) {
					grid-template-columns: repeat(1, 1fr);
				}

				img {
					width: 100%;
					user-select: none;
				}
			}
		}

		&:nth-of-type(3) {
			.form {
				width: 60%;
				min-height: 60%;
				background-color: @light;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				form {
					width: 80%;

					.inputs {
						display: flex;
						justify-content: space-between;
						width: 100%;
						margin-bottom: 30px;

						input {
							width: calc(100% / 3.3);
							height: 40px;
							border: 1px solid rgba(0, 0, 0, 0.2);
							color: @dark;
							font-size: 1.3em;
							border-radius: 5px;
							padding-left: 10px;
						}
					}
					.area {
						display: flex;
						justify-content: space-between;
						width: 100%;

						textarea {
							width: 100%;
							height: 85%;
							border: 1px solid rgba(0, 0, 0, 0.2);
							color: @dark;
							font-size: 1.3em;
							border-radius: 5px;
							padding-left: 10px;
							padding-top: 10px;
							resize: none;
						}
					}
					input[type="submit"] {
						border: none;
						color: @light;
						background-color: @dark;
						padding: 10px 50px;
						border-radius: 3px;
						position: absolute;
						left: 50%;
						bottom: 25px;
						transform: translateX(-50%);
						user-select: none;
						cursor: pointer;

						&:hover {
							background-color: @hoverColor;
						}
					}
				}
			}
		}
		&:nth-of-type(4) {
			margin-bottom: 50px;

			.imgs {
				width: 80%;
				margin: auto;
				margin-bottom: 100px;
				padding-top: 150px;
				display: flex;
				justify-content: space-around;
				position: relative;

				img {
					width: 20%;
					height: 500px;
				}
			}
			@media (max-width: @sizes[tablet]) {

			}
		}
	}
}

.invert {
	background-color: @dark;
	* {
		color: @light;
	}
	::selection {
		color: @dark;
		background-color: @light;
	}
}
.break {
	display: block;
}