@import "../global.less";

main {
	width: 90vw;
	height: calc(90vh - @navHeight);
	background-color: @darkAlpha;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;

	p {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		width: max-content;
	}

	p.title {
		font-size: 4em;
		top: 30%;
	}
	p.desc {
		font-size: 2em;
		top: 48%;
	}
}
.wrapper {
	position: absolute;
	top: calc(90vh - 10px);
	width: 100vw;

	section {
		width: 100vw;
		height: calc(90vh - @navHeight);
	}
}

.1 {
	background-color: red;
}

.invert {
	color: @light;
	background-color: @dark;
}