@import '../../global.less';

@font: 1.7em;

.top {
    position: absolute;
    left: 50%;
    top: 20px;
    text-align: center;
    transform: translateX(-50%);
    width: 100%;
    word-wrap: normal;
    color: @dark;

    .title {
        font-size: @font * 2;
        font-weight: 300;
        white-space: nowrap;
        top: 36%;
        @media (max-width: @sizes[tablet]) {
            font-size: @font * 2 - 1em;
        }

        @media (max-width: @sizes[mobile]) {
            font-size: @font * 2 - 2em;
        }
    }
    .desc {
        font-weight: 400;
        font-size: @font;
        top: 46%;
        width: 100%;

        @media (max-width: @sizes[tablet]) {
            top: 50%;
            font-size: @font - 0.5em;
        }

        @media (max-width: @sizes[mobile]) {
            font-size: @font - 0.75em;
        }
    }
}

// .top {
//     .title {
//         font-size: 3em;
//     }
//     .desc {
        
//         font-size: 1.7em;
//     }
// }


.container {
    position: absolute;
    width: 50%;
    height: 60%;
    left: 50%;
    top: 55%;
    -webkit-justify-content: center;
            justify-content: center;
    padding: 20px;

    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    a {
        position: relative;
        width: 200px;
        height: 200px;
        display: block;
        text-decoration: none;
        color: @light;
        
        img {
            width: 200px;
            height: 200px;
            filter: brightness(0.5);
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 20px;
            
            -webkit-transform: translate(-50%, -50%);
               -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                 -o-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
}

.template {
    color: @light;
    top: 100px;
    position: absolute;
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
        .box-category {
            height: 100px;
            background-color: green;
        }
}

